<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Currency last 7 days</title>
</head>
<h1>Currency last 7 days</h1>
<body>
    <div th:if="${usdLastWeekService}">
        <h3 th:text="${usdLastWeekService.getUsdLastWeek().getCurrencyShortCode()}"></h3>
        <p th:text="'Date'+'  /  ' +'price'"></p>
        <p th:text="${usdLastWeekService.getUsdLastWeek().getRates().get(0).getLocalDate()}+' : '
        +${usdLastWeekService.getUsdLastWeek().getRates().get(0).getBid()}+' pln'"></p>
        <p th:text="${usdLastWeekService.getUsdLastWeek().getRates().get(1).getLocalDate()}+' : '
        +${usdLastWeekService.getUsdLastWeek().getRates().get(1).getBid()}+' pln'"></p>
        <p th:text="${usdLastWeekService.getUsdLastWeek().getRates().get(2).getLocalDate()}+' : '
        +${usdLastWeekService.getUsdLastWeek().getRates().get(2).getBid()}+' pln'"></p>
        <p th:text="${usdLastWeekService.getUsdLastWeek().getRates().get(3).getLocalDate()}+' : '
        +${usdLastWeekService.getUsdLastWeek().getRates().get(3).getBid()}+' pln'"></p>
        <p th:text="${usdLastWeekService.getUsdLastWeek().getRates().get(4).getLocalDate()}+' : '
        +${usdLastWeekService.getUsdLastWeek().getRates().get(4).getBid()}+' pln'"></p>
        <p th:text="${usdLastWeekService.getUsdLastWeek().getRates().get(5).getLocalDate()}+' : '
        +${usdLastWeekService.getUsdLastWeek().getRates().get(5).getBid()}+' pln'"></p>
        <p th:text="${usdLastWeekService.getUsdLastWeek().getRates().get(6).getLocalDate()}+' : '
        +${usdLastWeekService.getUsdLastWeek().getRates().get(6).getBid()}+' pln'"></p>
    </div>
</body>
</html>